body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("RS-en-20191230-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:  #f4f1f1;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.logo img {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    height: 50px;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    /* background:transparent; */
    align-self: center;
  }
  
  .navbar li {
    margin: 0 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
   
  }

  .buttons {
    background-color: #e50914;
    padding: 10px 27px;
    color: white;
    /* display: flex; */
    flex-direction: row;
    border-radius: 4px;
  }
  label{
    color: beige;
    font-size: 25px;
  }
  input{
    background: transparent;
    font-size: 20px;
    color: aliceblue;
  }

  form {
    width: 500px;
    /* background: #fff; */
    padding: 25px 40px 40px;
    /* border: 1px solid #ca0f0f; */
    margin: 50px auto 0;
    border-radius: 5px;
    /* background-color: rgb(221, 122, 9); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */


    border: 5px solid rgb(168, 11, 11);
    backdrop-filter: blur(20px);
    height: 120px;
    width: 430px;

    
}
a{
    color: aliceblue;
}
  